In [1]:
data = pd.read_csv('C:/Users/Rakhman/Anaconda3/dataBLE/adult.data.csv')
data.head()

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
data = pd.read_csv('C:/Users/Rakhman/Anaconda3/dataBLE/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
data[data['sex']=='Female'].shape

(10771, 15)

In [4]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

In [5]:
(a,b) = data[data['native-country']=='Germany'].shape
(c,d) = data.shape

In [6]:
100*a/c

0.42074874850281013

In [7]:
np.mean(data[data['salary']=='>50K']['age'])
np.std(data[data['salary']=='>50K']['age'])

NameError: name 'np' is not defined

In [8]:
import numpy as np

In [9]:
np.mean(data[data['salary']=='>50K']['age'])
np.std(data[data['salary']=='>50K']['age'])

10.518356927661575

In [10]:
np.mean(data[data['salary']=='>50K']['age'])

44.24984058155847

In [11]:
np.mean(data[data['salary']=='<50K']['age'])

nan

In [12]:
np.mean(data[data['salary']=='<=50K']['age'])

36.78373786407767

In [13]:
np.std(data[data['salary']=='<=50K']['age'])

14.019804910115214

In [14]:
x = data[data['salary']=='>50K']
(a1,b) = x[x['education'] == 'Bachelors'].shape
(a2,b) = x[x['education'] == 'Masters'].shape
(a3,b) = x[x['education'] == 'Doctorate'].shape
(a4,b) = x[x['education'] == 'Prof-school'].shape
(a5,b) = x[x['education'] == 'Assoc-acdm'].shape
(a6,b) = x[x['education'] == 'Assoc-voc'].shape
s=a1+a2+a3+a4+a5+a6
(p,b) = x.shape
(s,p)

(4535, 7841)

In [34]:
data[data['race']=='Amer-Indian-Eskimo'].sort_values(by="age", ascending = False).iloc[0,0]

82

In [42]:
y = data[data['salary']==">50K"]
(p,t) = y.shape
(a1,b) = y[y['marital-status']=='Married-civ-spouse'].shape
(a2,b) = y[y['marital-status']=='Married-spouse-absent'].shape
(a3,b) = y[y['marital-status']=='Married-AF-spouse'].shape
s = a1 + a2 + a3
s/p

0.859074097691621

In [43]:
data.sort_values(by='hours-per-week', ascending = False).iloc[0,12]

99

In [45]:
data[data['hours-per-week']==99].shape

(85, 15)

In [46]:
x = data[data['salary']=="<=50K"]
y = x[x['native-country']=='Japan']
y['hours-per-week'].mean()

41.0

In [47]:
x = data[data['salary']==">50K"]
y = x[x['native-country']=='Japan']
y['hours-per-week'].mean()

47.958333333333336